.table-hover:hover{
	background-color: #C0C0C0;
}
.btn-primary{
	background-color: #007bff;
}
.btn-info{
	background-color: #17a2b8;
}
.login-page{
	background-image: url(assets/images/user8.jpg);
}
.login-box{	
	width: 40%;
}
.login-box-body{
	color: #fff;
	background-color: #808080;
}